.chess {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: calc(88px*8);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.board.static::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    opacity: .2;
}

.square {
    width: 88px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: var(--light);
}

.square.dark {
    background-color: var(--primary);
}

.square.selected::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.square.last::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e8dfcaaa;
}

.square .legal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    width: calc(88px / 4);
    aspect-ratio: 1/1;
    border-radius: 50px;
    opacity: .3;
}

.rank,
.file {
    position: absolute;
    display: block;
    color: var(--light);
    font-size: 1rem;
    margin: 2px 4px;
}

.rank {
    top: 0;
    left: 0;
}

.file {
    bottom: 0;
    right: 0;
}

.rank.dark,
.file.dark {
    color: var(--primary);
}

.piece {
    width: 100%;
    position: relative;
    z-index: 10;
}

.square.checkmate {
    background-color: rgb(201, 37, 37);
}

/* Promotion */

.promotion-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
}

.promotion-choice {
    display: block;
    width: calc(88px * 1.5);
    cursor: pointer;
    user-select: none;
}

/* Panel */

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* History */

.history-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light);
    height: 50dvh;
}

.history-header {
    display: flex;
    margin-left: 2rem;
    padding: .25rem .5rem;
    gap: 1rem;
}

.history-header span {
    width: 80px;
}

.history-row {
    display: flex;
    background-color: rgba(255, 255, 255, .1);
}

.history-row:nth-child(even) {
    background-color: rgba(255, 255, 255, .2);
}

.history-move-number {
    width: 1.5rem;
    font-size: 1rem;
    padding: .25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--light);
}

.history-move {
    width: 80px;
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    width: 100%;
}

.history-move.current {
    background-color: var(--light);
}

.history-move.current span {
    color: var(--dark);
}

.history-move span {
    color: var(--light);
    display: inline-block;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    padding: .25rem;
    border-radius: 4px;
    width: 100%;
}

.history-move img {
    width: 1.5rem;
}

/* Reset game */

.reset-container {
    position: relative;
}

.reset-container .btn {
    width: 100%;
}

.reset-confirmation-container {
    position: absolute;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 4px;
}

.reset-choices {
    display: flex;
    gap: .5rem;
}

.reset-choices button {
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: 64px;
}

.reset-yes {
    background-color: var(--primary);
    color: var(--light);
    border: none;
}

.reset-choices button:hover {
    transform: scale(1.02);
}

.reset-no {
    color: var(--dark);
    background: transparent;
    border: 1px solid var(--dark);
}

.btn.disabled {
    opacity: .5;
}

.btn.disabled:hover {
    transform: none;
}