@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf"), format("truetype");
}

:root {
  --light: #F5EFE6;
  --dark: #1e1e1c;
  --primary: #6D94C5;
  --secondary: #E8DFCA;
  --accent: #CBDCEB;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--light);
  background: var(--dark);
  font-family: Cabin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Général */

.btn {
  padding: .5rem 2rem;
  background-color: var(--secondary);
  color: var(--dark);
  border-radius: 2px;
}