@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf"), format("truetype");
}

:root {
  --light: #F5EFE6;
  --dark: #1e1e1c;
  --primary: #6D94C5;
  --secondary: #E8DFCA;
  --accent: #CBDCEB;
}

html,
body {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  font-size: 16px;
}

body {
  color: var(--light);
  background: var(--dark);
  font-family: Cabin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: block;
  padding: .5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: transform .1s ease-out;
  color: var(--light);
  border: 1px solid var(--light);
}

.btn:hover {
  transform: scale(1.02);
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--dark);
}