.settingsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 500px;
    margin: 0 auto;
}

.settingsHeader {
    margin-bottom: 2rem;
}

.settingsHeader h1 {
    font-size: 6rem;
    text-decoration: underline;
}

.settingsHeader p {
    text-align: center;
    font-size: 2rem;
}

.settingsContainer {
    background-color: var(--light);
    color: var(--dark);
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settingContainer {
    display: flex;
}

.settingChoices {
    display: flex;
    gap: .5rem;
}

.settingName {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.settingChoice {
    display: block;
    padding: .5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.settingChoice.selected {
    background-color: var(--primary);
    color: var(--dark);
}

.settingsButtons {
    margin-top: 2rem;
}